<!DOCTYPE html>
<html lang="zh">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>聪小陈 - 浮光陈氏</title>
  <style>
    :root {
      --background_color: #232323;
      --page_align: 0px 0px 50px 50px;
      --text_font: "Amiko", sans-serif;
      --text_color: #f7f7f7;
      --text_size: 1.1em;
      --heading_font: "Bungee Shade", cursive;
      --heading_color: #e2fd36;
      --accent_color: #e2fd36;
      --link_color: #e2fd36;
    }
  </style>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/normalize.css@8.0.1/normalize.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Amiko|Bungee+Shade&amp;display=swap">
  <link rel="stylesheet" href="<%= themePath %>">
</head>

<body>
  <%- mdContent %>
</body>

</html>